@inject IJSRuntime js

    <div style="display:flex; flex-wrap:wrap; align-items:center;">
        <ListadoGenerico Listado="Peliculas">
            @*context está el elemto que se pasa a hayRegistro,
            renombramos "Context con pelicula. para clarificar lo que se está pasando *@
            <HayRegistro Context="pelicula">
                <PeliculaIndividual Pelicula="pelicula" EliminarPelicula="EliminarPelicula" />
            </HayRegistro>

        </ListadoGenerico>
    </div>



@code {

    [Parameter] public List<Pelicula> Peliculas { get; set; }


    bool MostrarBotones = false;


    // Con parametro
    async Task EliminarPelicula(Pelicula peli)
    {
        //confirmar con javascript
        var confirmado = await js.Confirm($"Desea borrar la película {peli.Titulo}");

        if (confirmado)
        {
            Peliculas.Remove(peli);
            Console.WriteLine($"Se ha eliminado la película {peli.Titulo}");
        }


    }
   
}
