<div style="margin-right: 2%; margin-bottom:10px; text-align:center;">
    <a>
        <img src="@Pelicula.Poster" alt="Poster" style="width:225px; height:300px;" />
    </a>
    <p style="max-width:225px;height:44px; font-size:15px; font-weight:bold;">@Pelicula.TituloCortado</p>
    <a class="btn btn-info">Editar</a>
    <button type="button" class="btn btn-danger" @onclick="@(()=>EliminarPelicula.InvokeAsync(Pelicula))">Borrar</button>
</div>

@code {
    [Parameter] public Pelicula Pelicula { get; set; }
    [Parameter] public bool MostrarBoton { get; set; } = false;

    // Paso por parámetro de un método del componente padre

    //  Sin parámetos
    //[Parameter] public EventCallback EliminarPelicula { get; set; }


    //  Devuelve parámetos
    [Parameter] public EventCallback <Pelicula> EliminarPelicula { get; set; }


}
