<div>
    <p>Título: <b>@Pelicula.Titulo</b></p>
    <p>Lanzamiento: <b>@Pelicula.Lanzamiento.ToString("dd/MM/yyyy")</b></p>
    @if (MostrarBoton)
    {
<div>

    @*Sin parámetos*@
    @*<button @onclick="EliminarPelicula">Borrar</button>*@

    @*Devuelve parámetos*@

    <button @onclick="@(() => EliminarPelicula.InvokeAsync(Pelicula))">Borrar</button>
</div>
    }

</div>

@code {
    [Parameter] public Pelicula Pelicula { get; set; }
    [Parameter] public bool MostrarBoton { get; set; } = false;

    // Paso por parámetro de un método del componente padre

    //  Sin parámetos
    //[Parameter] public EventCallback EliminarPelicula { get; set; }


    //  Devuelve parámetos
    [Parameter] public EventCallback <Pelicula> EliminarPelicula { get; set; }


}
