@page "/generos/crear"

<h3>Crear Genero</h3>

<EditForm Model="genero" OnValidSubmit="Crear">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="@genero.Nombre" />
            <ValidationMessage For="@(() => genero.Nombre)" />
        </div>
    </div>
    <button class="btn btn-success" type="submit">Guardar Cambios</button>
</EditForm>
@code {
    private Genero genero=new Genero();
    private void Crear()
    {
        Console.WriteLine("Ejecutando método Crear");
        Console.WriteLine($"Nombre del género: {genero.Nombre}");
    }
}
