@page "/counter"

@inherits CounterBase

<h1 style="color:@Color;">Counter</h1>

<p style="color:@Color;font-size:@Size">Current count: @currentCount</p>
<p>singleton count: @Singleton.Valor</p>
<p>transient count: @Transient.Valor</p>



<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementCountJS">Click me javascript</button>
