@page "/"


    <div>
        <h3>Películas</h3>

       <ListadoPeliculas Peliculas="ObtenerPeliculas()" /> 


    </div>
    @*<div>
        <h2>Crear Nueva película</h2>
      
        <EjemploTextBox @attributes="ParametrosEjemplos" />
    </div>*@
@code{
        string nombre = "Cristina";

    private Dictionary<string,object> ParametrosEjemplos =
        new Dictionary<string, object>() {
            { "placeholder","Nueva película"},{"disabled","true" } };

    private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>
        {
            new Pelicula() {Titulo = "Spiderman1",Lanzamiento = new DateTime(2015, 1, 2)},
            new Pelicula() {Titulo = "Spiderman2",Lanzamiento = new DateTime(2017, 7, 13)},
            new Pelicula() {Titulo = "Spiderman3",Lanzamiento = new DateTime(2019, 12, 23)}

        };
    }



}
