@page "/"
@inject IRepositorio repositorio

<div>
    <h3>Películas</h3>

    <ListadoPeliculas  Peliculas="peliculas">

    </ListadoPeliculas>


</div>

@code{
    
   
    private List<Pelicula> peliculas;

    protected override void OnInitialized()
    {
        peliculas = repositorio.ObtenerPeliculas();
    }
   


}
